@import "../main.scss";

.community {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  &__photo {
    width: 100%;

    &__img {
      width: 100%;
    }
  }

  &__data {
    padding: 5px 10px;
    text-align: center;
    background-color: $primary-color;
    color: $backWhite-color;
  }

  &:hover &__data {
    background-color: $black-color;
  }
}
