@import '../main.scss';

.contact {
  display: flex;
  justify-content: center;
  background-color: $primary-color;
  color: $white-color;

  &__email {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    margin-right: 100px;

    p {
      text-align: center;
    }

    &__link {
      display: flex;
      align-items: center;
      margin: 10px;
      padding: 10px 15px;
      border-radius: 10px;
      background-color: $black-color;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      color: $white-color;
      font-weight: bold;

      &:hover {
        border-color: $primary-color;
      }
    }
  }

  &__social {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;

    &__networks {
      display: flex;
      justify-content: space-evenly;
      width: 100%;

      @mixin item {
        width: 50px;
        height: 50px;
        fill: $white-color;
      }

      &__item {
        &--github {
          @include item;

          &:hover {
            fill: #24292e;
          }
        }
        &--linkedin {
          @include item;

          &:hover {
            fill: #0073b1;
          }
        }
        &--twitter {
          @include item;

          &:hover {
            fill: #1da1f2;
            stroke: $black-color;
          }
        }
        &--facebook {
          @include item;

          &:hover {
            fill: #4267b2;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1023px) {
  .contact {
    &__email {
      margin-right: 50px;
    }
  }
}

@media screen and (max-width: 767px) {
  .contact {
    flex-direction: column;
    align-items: center;
    &__email {
      margin: 0;
    }
  }
}
