@import '../main.scss';

header {
  display: flex;
  justify-content: center;
  background-color: $black-color;
}

.header {
  height: 70px;
  width: 1024px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
