@import '../main.scss';

.hero {
  position: relative;
  height: 480px;

  &__background {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    &__title {
      padding: 30px;
      border-radius: 15px;
      font-family: $title-font;
      font-size: 96px;
      color: $white-color;
      background: rgba(0, 0, 0, 0.9);
    }
  }
}
