@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&family=Quicksand&display=swap');

// Main Colors
$primary-color: #00a9e6;

// Basic Colors
$black-color: #0c0c0c;
$white-color: #f4f4f4;

// Fonts
$text-font: 'Nunito', sans-serif;
$title-font: 'Quicksand', sans-serif;
